OTEL_EXPORTER_OTLP_ENDPOINT=https://otel.kloudmate.dev:4318
OTEL_EXPORTER_OTLP_TRACES_HEADERS="Authorization=<PRIVATE_KEY_FROM_KLOUDMATE>"
OTEL_SERVICE_NAME=golang-instrumentation-app
OTEL_GO_AUTO_TARGET_EXE=/app/service
OTEL_PROPAGATORS=tracecontext,baggage